<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835154341096-jfuefqieqkvlf8j1h4t8ka6h2ola4olp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835154341096-jfuefqieqkvlf8j1h4t8ka6h2ola4olp</string>
	<key>API_KEY</key>
	<string>AIzaSyA7A1OSiSAvfYCzpXhcueSwFl4_PZhr3qk</string>
	<key>GCM_SENDER_ID</key>
	<string>835154341096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googlelogin</string>
	<key>PROJECT_ID</key>
	<string>login-7c824</string>
	<key>STORAGE_BUCKET</key>
	<string>login-7c824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835154341096:ios:d1eb583d075e3dd1a8ad5d</string>
</dict>
</plist>